html {
  font-size: 25px;
}

left-nav {
  text-align: left;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

li {
  list-style-type: none;
}

.logo {
  align-items: center;
}
